flows (2).json
[{"id":"ec72ed1f.ed798","type":"tab","label":"Global Solution Final","disabled":false,"info":""},{"id":"cde8d0ea.9fb2c","type":"inject","z":"ec72ed1f.ed798","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"A\":0,\"B\":1}","payloadType":"json","x":250,"y":180,"wires":[["9fd093c3.f50dc"]]},{"id":"9fd093c3.f50dc","type":"mqtt out","z":"ec72ed1f.ed798","name":"","topic":"/global/2tdsa/vagaa","qos":"","retain":"","broker":"87a98294.757b6","x":450,"y":200,"wires":[]},{"id":"ecf80c40.d1481","type":"mqtt in","z":"ec72ed1f.ed798","name":"","topic":"/global/2tdsa/vagaa","qos":"2","datatype":"auto","broker":"87a98294.757b6","x":130,"y":480,"wires":[["10444789.79aad8"]]},{"id":"dc39eeb5.2744e","type":"ui_gauge","z":"ec72ed1f.ed798","name":"","group":"5134f2db.4eb7cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Vaga B","label":"Ocupada?","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":620,"y":540,"wires":[]},{"id":"3c76ded1.607072","type":"change","z":"ec72ed1f.ed798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["dc39eeb5.2744e","f896b27d.54086"]]},{"id":"471addf3.59f3d4","type":"inject","z":"ec72ed1f.ed798","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"A\":1,\"B\":0}","payloadType":"json","x":250,"y":220,"wires":[["9fd093c3.f50dc"]]},{"id":"cb81780b.7786a8","type":"debug","z":"ec72ed1f.ed798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":480,"wires":[]},{"id":"10444789.79aad8","type":"json","z":"ec72ed1f.ed798","name":"","property":"payload","action":"","pretty":false,"x":290,"y":480,"wires":[["c467591e.0b5ac8","3c76ded1.607072","cb81780b.7786a8"]]},{"id":"c467591e.0b5ac8","type":"change","z":"ec72ed1f.ed798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.A","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["e5927120.a6fa4","95376a69.a1c6a8"]]},{"id":"e5927120.a6fa4","type":"ui_gauge","z":"ec72ed1f.ed798","name":"","group":"4882a96.9d23d58","order":0,"width":0,"height":0,"gtype":"gage","title":"Vaga A","label":"ocupada?","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":620,"y":420,"wires":[]},{"id":"95376a69.a1c6a8","type":"ui_chart","z":"ec72ed1f.ed798","name":"","group":"4882a96.9d23d58","order":2,"width":0,"height":0,"label":"Histórico de ocupação da vaga A","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":460,"wires":[[]]},{"id":"f896b27d.54086","type":"ui_chart","z":"ec72ed1f.ed798","name":"","group":"5134f2db.4eb7cc","order":2,"width":0,"height":0,"label":"Histórico de ocupação da vaga B","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":500,"wires":[[]]},{"id":"87a98294.757b6","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5134f2db.4eb7cc","type":"ui_group","name":"segunda","tab":"e7032c51.d1436","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4882a96.9d23d58","type":"ui_group","name":"Default","tab":"e7032c51.d1436","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e7032c51.d1436","type":"ui_tab","name":"Global","icon":"dashboard","disabled":false,"hidden":false}]